.countdown{
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    color: white;
    padding: 20px;
}
.countdown__icons{
    display: none;
    float: right;
    font-size: 15px;
    cursor: pointer;
}
.countdown:hover .countdown__icons{
    display: block;
}